@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  z-index: 2;
  background: linear-gradient(
    180deg,
    #1e20a2d7,
    #234557,
    #112038,
    #111f38df,
    #234557,
    #1e3fa2
  );
  background-size: 400% 400%;
  height: 100%;
  font-size: 62.5%;
  width: 100%;
  background-attachment: fixed;
  animation: gradient 15s ease-in-out infinite alternate;
}

#up {
  animation: bounce 0.7s ease-in-out backwards;
  width: 2rem;
  height: 1rem;
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  z-index: 99;
  font-size: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

#up:not(:hover) {
  transform: none;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 7rem; /* Ajuste cette valeur en fonction de la hauteur de ta barre de navigation */
  }
  .mobile-margin-top {
    margin-top: 7rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.custom-backdrop-nav-effect {
  background: rgba(52, 159, 186, 0.8);
  /* background: rgba(95, 150, 192, 0.8);/ */
  backdrop-filter: brightness(160%) blur(9px);
  letter-spacing: 0.2rem;
}
