@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  z-index: 2;
  background: linear-gradient(
    180deg,
    #1e20a2d7,
    #234557,
    #112038,
    #111f38df,
    #234557,
    #1e3fa2
  );
  background-size: 400% 400%;
  height: 100%;
  font-size: 62.5%;
  width: 100%;
  background-attachment: fixed;
  animation: gradient 15s ease-in-out infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.custom-backdrop-nav-effect {
  background: rgba(52, 159, 186, 0.8);
  /* background: rgba(95, 150, 192, 0.8);/ */
  backdrop-filter: brightness(160%) blur(9px);
  letter-spacing: 0.2rem;
}

p {
  columns: 1;
  orphans: 3;
}
